<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">

  <title>StockVision</title>
  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  
  <!-- Heatmap library -->
  <script src="https://unpkg.com/heatmap.js"></script>

  <!-- Canvas Library -->
  <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
  <script src="https://canvasjs.com/assets/script/jquery-ui.1.12.1.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <!-- Canvas CSS-->
  <link rel="stylesheet" href="https://canvasjs.com/assets/css/jquery-ui.1.12.1.min.css">
  
  <!-- Chart.js -->  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
</head>
<body>
  <div class="container">    
    
    <div class = "row">
      <div class="app-container">
        <div class="overlay"></div>
        <h1 class="app-name">StockVision</h1>
        <p class="description">Predicting Profits with Precision.</p>
      </div>
    </div>
    <div class="row">
      <div id="topGainersPanel">
          <h3>Top Gainers</h3>
          <div id="topGainersMarquee">
              <ul id="topGainersList"></ul>
          </div>
      </div>
    </div>
  
    <div class = "row">
      <div id="topLosersPanel">
        <h3>Top Losers</h3>
          <div id="topGainersMarquee">
            <ul id="topLosersList"></ul>
          </div>
      </div>
    </div>
    <div class = "row">
      <div id="topTradedPanel">
        <h3>Top Traded</h3>
          <div id="topGainersMarquee">
            <ul id="topTradedList"></ul>
          </div>
      </div>
    </div>
    <div class = "row">
      
      <div class="col-12">
        <h5 style="color : #ccc;">Ticker:</h5>
        <select id = 'selDataset' class = 'selectCSS' onchange = "optionChanged(this.value)"></select> 
      </div>
    </div>
    <div class = "row">
      <div class="col-3">
            
        <div id = 'info'></div>

      </div>
      <div class="col-9">
        <div style="color : #000508;">#</div>
        <!-- The div that holds our map -->
        <div id="line_chart"></div>
      </div>
    </div>
    <div class = "row">
      <div class="col-12">
        <!-- The div that holds our news -->
        <div id="news">
          <h3 style="text-align: center;">Daily News Update</h3>
          <hr>
        </div>
      </div>

    </div>
  </div>

  <!-- Jumbotron script -->
  <div class="p-5 mb-4 bg-body-white">
    <div class="container">
    
      <div class="row jumbotron rounded-5">

          <h1 class="display-5 fw-bold mx-auto text-center">Top Predicted stocks by Sector</h1>

          <p class="fs-5 text-center position-relative"></p>

      </div>

      <div class="container">
        <div class="row" style="text-align: center;">

          <div class = "col-3 ">
            <h5>Select Sector: </h5>
              <select id="selDataset1" class = 'selectCSS' onchange="optionChanged(this.value)"></select>
          </div>

          <div class = "col-9 ">
              <canvas id="top_preds" style="width: 400px; height: 400px;"></canvas>
          </div>        
        </div>  
      </div>
    </div>
  </div>

  <!---Portfolio Opimizer-->
  <div class = 'row'>
    <div class = 'col-12'>
      <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()">
          <select>
            <option>Select an option</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes"></div>
      </div>
    </div>
  </div>
    
  <div class = 'row'>
     <div class = 'col-12'>
      <div id = "selectOps"></div>
     </div>
  </div>
    
  <div class = 'row'>
    <div class = 'col-12'>
      <div id = "calcPanel"></div>
    </div>
  </div>
    
  <div class = 'row'>
    <div class = 'col-sm-6'>
      <canvas id = "return_chart"></canvas>
      <h4 id = 'totalReturn'></h4>
    </div>
    
    <div class = 'col-sm-6'>
        <canvas id = "risk_chart"></canvas>
        <h4 id = 'totalRisk'></h4>
    </div>    
  </div>
    
  
  <!-- Our JavaScript files -->  
  <script src="{{url_for('static', filename = 'js/logic.js')}}"></script>   <!-- Line and Bar Chart -->
  <script src="{{url_for('static', filename = 'js/portfolio_optimizer.js')}}"></script>  <!-- Portfolio optimizers  -->

  <!-- <script src="{{url_for('static', filename = 'js/logic2.js')}}"></script>   <!--Doughnut Chart -->
  <!-- <script src="../static/js/total_vol.js"></script>                         <!-- Grouped Bar Chart
 
</body>

</html>